* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  body {
    height: 100vh;
    display:fleX;
    align-items:center;
    justify-content: center;
    background-color: black;
    font-family: sans-serif;
  }
  
  p#number {
    text-align: center;
    color: white;
    font-size: 100px;
  }
  button {
    width: 70px;
    border: 0;
    outline: 0;
    padding: 1 0px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    opacity: 0.5;
  }
  button:first-of-type {
    border-color: red;
  }
  button:last-of-type {
    border-color: green;
  }
  button:hover {
    color: yellow;
    opacity: 1;
  }
  